// to do: responsive design of search group elements
/*
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 350px !important;
    height: 430px;
    max-height: 200px;
    align-content: space-between;
*/

.search-view {
    display: flex;
}
.search-column{
    display: flex;
    flex-direction: column;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-top: -5px;
}
.select-container {
    background-color: white;
    border-radius: 0px;
    height: 30px;
    font-size: 14px;
}
.group-label{

}
.search-input{
    font-family: 'Roboto' !important;
    background-color: white !important;
    box-shadow: none !important;
    padding-left: 10px !important;
    // max-width: 70px !important;
}